---
import Head from '@/components/head.astro';
import ThemeScript from '@/components/theme-script.astro';

import '@/styles/globals.css';
---

<ThemeScript />

<html lang="en">
  <Head />
  <body>
    <slot />
  </body>
</html>